p#pogrubienie_Bigus{
    font-size:30;
	color:#DB9F79;
}
p#pochylona_Bigus{
    font-size:35;
	color:#E7ED515;
}
p#index_gorny_Bigus{
    font-size:1cm;
    color:#F8EFD9;
}
p#index_dolny_Bigus{
    font-size:1,5cm;
    color: rgb(25%,95%,90%);
}
p#mono_Bigus{
    font-size:40px;
    color:#2197645;
}
p#powiekszenie_Bigus{
    color: #8EDED7;
}
p#pomniejszenie_Bigus{
    color: rgb(76%, 64%, 23%);
}